.meeting-details-component {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 30px;
  box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.3),
    inset 0 -8px 8px -8px rgba(0, 0, 0, 0.3);
  background-color: #fffafa;

  .meeting-header{
    display: flex;
    align-items: center;
    b{
      padding-left: 10px;
    }
    .remove-meeting-button{
      margin-left: auto;
    }
  }
  .participant {
    margin-bottom: 5px;
    img {
      border-radius: 50%;
      box-shadow: 0cqb;
    }
    .participant-name {
      font-size: 22px;
      padding: 7px;
      min-width: 50%;
    }
    .participant-email {
      margin-right: 10px;
    }
  }

  .add-participant {
    width: fit-content;
    margin-left: auto;
  }

  .add-document {
    width: fit-content;
    margin-left: auto;
  }
}
