div {
    border: 1px solid red;
}

.dashboard-component{
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 30px;
    box-shadow:  0 8px 8px -8px rgba(0,0,0,.3), inset 0 -8px 8px -8px rgba(0,0,0,.3);
    background-color: #FFFAFA;
}