<div class="container-fluid create-meeting-component">
    <div class="row">
        <div class="col-lg-6 right">
            <h3>Meeting details</h3>
            <div class="form-floating mb-3">
                <input [(ngModel)]="newMeeting.title" type="text" class="form-control" id="meetingTitle"
                    placeholder="Title">
                <label for="meetingTitle">Title</label>
            </div>
            <div class="form-floating mb-3">
                <textarea [(ngModel)]="newMeeting.description" type="text" class="form-control" id="meetingDescription"
                    placeholder="Description"></textarea>
                <label for="meetingDescription">Description</label>
            </div>
            <div class="container-fluid" style="padding: 0">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input [(ngModel)]="newMeeting.startTime" type="datetime-local" class="form-control"
                                id="meetingStart" placeholder="Description" />
                            <label for="meetingStart">Meeting Start</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <select [(ngModel)]="meetingDurationMinutes" name="meetingTime" class="form-select"
                                id="meetingTime">
                                <option *ngFor="let duration of meetingDurations" [value]="duration">
                                    <ng-container *ngIf="duration < 60">
                                        {{duration}} mins
                                    </ng-container>
                                    <ng-container *ngIf="duration >= 60">
                                        {{duration/60}} hrs
                                    </ng-container>
                                </option>
                            </select>
                            <label for="meetingEnd">Meeting Duration</label>
                        </div>
                    </div>
                    <h3>Documents</h3>
                    <input type="file" (change)="onFileSelected($event)" #fileInput style="display: none" />
                    <div class="col-md-6">
                        <div class="mb-3">
                            <button class="btn btn-md secondary-button" (click)="fileInput.click()">
                                Add Files
                            </button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li *ngFor="let document of selectedDocuments">
                                <span>{{ document.name }}</span>
                                <button (click)="removeFile(document)">X</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 left">
            <h3>Participants</h3>
            <ng-select *ngIf="isProfileImagesLoaded" [multiple]="true" [(ngModel)]="selectedParticipants">
                <ng-container *ngFor="let user of users">
                    <ng-option *ngIf="currentUser?.id !== user.id" [value]="user.id">
                        <img src={{user.profileImageUrl}} width="30px" height="30px">
                        {{user.firstName}} {{user.lastName}}
                        <small>{{user.email}}</small>
                    </ng-option>
                </ng-container>
            </ng-select>
            <br />Selected user ID: {{selectedParticipants | json}}
        </div>
        <div class="create-meeting-button col-lg-12">
            <div class="row justify-content-end">
                <button (click)="createMeeting()" class="btn btn-lg primary-button">Create Meeting</button>
            </div>
        </div>
    </div>
</div>