.navbar {
    border-radius: 0 0 15px 15px;
    box-shadow: 0 8px 8px -8px rgba(0, 0, 0, .3), inset 0 -8px 8px -8px rgba(0, 0, 0, .3);

    .navbar-brand {
        span {
            padding-left: 15px;
            ;
        }
    }

    .navbar-nav {
        margin-left: auto;
    }

    .navbar-nav {
        .nav-item {
            a {
                padding: 12px;
                transition: all 0.3s ease;

                &:hover {
                    color: #ff5f00;
                }
            }

            &:nth-child(2) {
                a {
                    background-color: #ff5f00;
                    border: 1px solid orange;
                    border-right: none;
                    border-radius: 15px 0 0 15px;
                    color: white;

                    &:hover {
                        color: #FFE7D3;
                        background-color: #FF7954;
                    }
                }
            }

            &:nth-child(3) {
                a {
                    background-color: white;
                    border: 1px solid orange;
                    border-left: none;
                    border-radius: 0 15px 15px 0;

                    &:hover {
                        background-color: #FFE7D3;
                    }
                }
            }
        }
    }
}

.title {
    margin-bottom: 35px;
    padding: 25px 0 25px 0;
    box-shadow:  0 8px 8px -8px rgba(0,0,0,.3), inset 0 -8px 8px -8px rgba(0,0,0,.3);
    background-color: #FFFAFA;
    text-align: center;
}