.login-page-form{
    padding: 50px;
    border-radius: 0 35px 35px 0;
    background-color: snow;
    box-shadow:  0 8px 8px -8px rgba(0,0,0,.3), inset 0 -8px 8px -8px rgba(0,0,0,.3);
    .forgot-password{
        text-align: end;
    }
    .login-button{
        button{
            width: 100%;
        }
    }
    .register-suggestion{
        text-align: center;
    }
}
.login-page-hero{
    padding: 0;
    border-radius: 35px 0 0 35px;
    box-shadow:  0 8px 8px -8px rgba(0,0,0,.3), inset 0 -8px 8px -8px rgba(0,0,0,.3);
    overflow: hidden;
    img{
        height: 100%;
        object-fit: cover;
    }
}