<div class="container-fluid home-component">
    <div class="row">
        <!-- Column 1: App Information -->
        <div class="col-md-6">
            <h2>Welcome to App</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan, metus ultrices
                eleifend gravida, nulla nunc varius lectus, nec rutrum justo nibh eu lectus.
            </p>
            <p>
                Sed tristique purus eget justo vestibulum, vitae ultrices magna consequat. Morbi mattis
                elit in quam feugiat, vel cursus nisl venenatis.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan, metus ultrices
                eleifend gravida, nulla nunc varius lectus, nec rutrum justo nibh eu lectus.
            </p>
            <p>
                Sed tristique purus eget justo vestibulum, vitae ultrices magna consequat. Morbi mattis
                elit in quam feugiat, vel cursus nisl venenatis.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan, metus ultrices
                eleifend gravida, nulla nunc varius lectus, nec rutrum justo nibh eu lectus.
            </p>
            <p>
                Sed tristique purus eget justo vestibulum, vitae ultrices magna consequat. Morbi mattis
                elit in quam feugiat, vel cursus nisl venenatis.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan, metus ultrices
                eleifend gravida, nulla nunc varius lectus, nec rutrum justo nibh eu lectus.
            </p>
            <p>
                Sed tristique purus eget justo vestibulum, vitae ultrices magna consequat. Morbi mattis
                elit in quam feugiat, vel cursus nisl venenatis.
            </p>
        </div>

        <!-- Column 2: Additional Information -->
        <div class="col-md-6">
            <h2>About the App</h2>
            <p>
                Curabitur ac sem ac dolor vestibulum cursus non non nulla. Integer elementum libero
                vitae est fringilla, eu tincidunt mauris suscipit.
            </p>
            <p>
                Fusce euismod, felis ut mattis dignissim, libero nisi fermentum felis, nec auctor
                metus ligula sed nulla. Donec at leo sed risus mollis auctor.
            </p>
            <p>
                Fusce euismod, felis ut mattis dignissim, libero nisi fermentum felis, nec auctor
                metus ligula sed nulla. Donec at leo sed risus mollis auctor.
            </p>
            <p>
                Fusce euismod, felis ut mattis dignissim, libero nisi fermentum felis, nec auctor
                metus ligula sed nulla. Donec at leo sed risus mollis auctor.
            </p>
            <p>
                Fusce euismod, felis ut mattis dignissim, libero nisi fermentum felis, nec auctor
                metus ligula sed nulla. Donec at leo sed risus mollis auctor.
            </p>
            <p>
                Fusce euismod, felis ut mattis dignissim, libero nisi fermentum felis, nec auctor
                metus ligula sed nulla. Donec at leo sed risus mollis auctor.
            </p>
            <p>
                Fusce euismod, felis ut mattis dignissim, libero nisi fermentum felis, nec auctor
                metus ligula sed nulla. Donec at leo sed risus mollis auctor.
            </p>
            <p>
                Fusce euismod, felis ut mattis dignissim, libero nisi fermentum felis, nec auctor
                metus ligula sed nulla. Donec at leo sed risus mollis auctor.
            </p>
            <p>
                Fusce euismod, felis ut mattis dignissim, libero nisi fermentum felis, nec auctor
                metus ligula sed nulla. Donec at leo sed risus mollis auctor.
            </p>
        </div>
    </div>
</div>
